---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<Link
  class="link op-transition"
  href={getUrl('/')}
  {title}
  aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
>
 <div class="logo-container">
   <!-- <img src="/logo.svg" alt="Logo" width="2em" height="auto" /> -->
 <!-- </div> -->
    <!-- ICON SVG -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg> -->

    <!-- TEXT SVG (Great Vibes) -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54.39599609375" height="9.45599365234375" viewBox="0 0 54.39599609375 9.45599365234375" fill="none">
      <path     fill="#000000"  d="M3.552 9.288C3.06 9.288 2.328 8.7 2.328 8.7C1.812 8.616 1.446 8.478 1.446 8.478C1.08 8.34 0.84 8.148 0.84 8.148C0.504 7.86 0.252 7.38 0.252 7.38C0 6.9 0 6.456 0 6.456C0 6.12 0.156 5.856 0.156 5.856C0.516 5.22 1.068 5.22 1.068 5.22C1.488 5.22 1.56 5.928 1.56 5.928C1.644 6.588 1.698 6.978 1.698 6.978C1.752 7.368 1.788 7.488 1.788 7.488C1.968 8.076 2.4 8.484 2.4 8.484C2.904 8.592 3.492 8.592 3.492 8.592C4.788 8.592 5.976 8.1 5.976 8.1C6.48 7.884 6.96 7.536 6.96 7.536C7.44 7.188 7.752 6.768 7.752 6.768C8.064 6.348 8.064 5.952 8.064 5.952C8.064 5.388 7.068 5.076 7.068 5.076L4.956 4.596C4.308 4.452 3.918 4.086 3.918 4.086C3.528 3.72 3.528 3.252 3.528 3.252C3.528 2.532 4.428 1.812 4.428 1.812C4.884 1.44 5.496 1.182 5.496 1.182C6.108 0.924 6.786 0.786 6.786 0.786C7.464 0.648 8.088 0.648 8.088 0.648C8.976 0.648 9.606 0.924 9.606 0.924C10.236 1.2 10.392 1.728 10.392 1.728C10.428 1.848 10.428 1.992 10.428 1.992C10.428 2.724 9.696 3.012 9.696 3.012C9.252 3.192 8.94 3.192 8.94 3.192C8.748 3.192 8.64 3.12 8.64 3.12C8.616 3.096 8.616 3.06 8.616 3.06C8.616 2.976 8.952 2.964 8.952 2.964C9.156 2.952 9.288 2.928 9.288 2.928C9.42 2.904 9.48 2.88 9.48 2.88C9.936 2.64 9.936 2.172 9.936 2.172C9.936 1.932 9.804 1.668 9.804 1.668C9.432 0.984 7.944 0.984 7.944 0.984C7.404 0.984 6.828 1.098 6.828 1.098C6.252 1.212 5.736 1.434 5.736 1.434C5.22 1.656 4.86 1.992 4.86 1.992C4.236 2.568 4.236 3.024 4.236 3.024C4.236 3.372 4.578 3.642 4.578 3.642C4.92 3.912 5.616 4.044 5.616 4.044L7.032 4.308C7.848 4.464 8.352 4.77 8.352 4.77C8.856 5.076 8.856 5.7 8.856 5.7C8.856 6.252 8.58 6.732 8.58 6.732C8.304 7.212 7.842 7.59 7.842 7.59C7.38 7.968 6.792 8.22 6.792 8.22C5.46 8.808 3.648 8.808 3.648 8.808C3.42 8.808 3.192 8.796 3.192 8.796C2.964 8.784 2.748 8.76 2.748 8.76C2.916 8.856 3.174 8.952 3.174 8.952C3.432 9.048 3.768 9.132 3.768 9.132C3.804 9.144 3.804 9.18 3.804 9.18C3.804 9.288 3.552 9.288 3.552 9.288ZM1.968 8.364C1.644 8.004 1.464 7.62 1.464 7.62C1.2 7.02 1.068 6.144 1.068 6.144C0.972 5.508 0.864 5.508 0.864 5.508C0.768 5.508 0.606 5.652 0.606 5.652C0.444 5.796 0.444 6.264 0.444 6.264C0.444 7.176 1.092 7.848 1.092 7.848C1.416 8.184 1.968 8.364 1.968 8.364Z">
      </path>
      <path     fill="#000000"  d="M8.856 8.208C8.508 8.208 8.508 8.004 8.508 8.004C8.508 7.884 8.652 7.62 8.652 7.62C9.204 6.636 9.642 5.874 9.642 5.874C10.08 5.112 10.416 4.584 10.416 4.584C11.844 2.292 12.432 2.1 12.432 2.1C12.456 2.1 12.468 2.094 12.468 2.094C12.48 2.088 12.492 2.088 12.492 2.088C12.648 2.088 12.696 2.34 12.696 2.34C12.66 2.592 11.448 4.164 11.448 4.164C10.812 4.968 10.458 5.49 10.458 5.49C10.104 6.012 10.02 6.252 10.02 6.252C10.416 5.964 10.872 5.64 10.872 5.64C11.328 5.316 11.76 5.022 11.76 5.022C12.192 4.728 12.54 4.542 12.54 4.542C12.888 4.356 13.08 4.332 13.08 4.332C13.104 4.332 13.14 4.326 13.14 4.326C13.176 4.32 13.188 4.32 13.188 4.32C13.524 4.32 13.524 4.632 13.524 4.632C13.524 4.716 13.308 5.004 13.308 5.004C13.092 5.292 12.648 5.892 12.648 5.892C11.856 6.948 11.856 7.476 11.856 7.476C11.856 7.752 12.06 7.752 12.06 7.752C12.276 7.74 12.558 7.56 12.558 7.56C12.84 7.38 13.128 7.116 13.128 7.116C13.416 6.852 13.65 6.594 13.65 6.594C13.884 6.336 14.004 6.192 14.004 6.192C14.112 6.084 14.172 6.084 14.172 6.084C14.22 6.084 14.22 6.132 14.22 6.132C14.22 6.228 14.124 6.36 14.124 6.36C13.98 6.54 13.698 6.828 13.698 6.828C13.416 7.116 13.086 7.41 13.086 7.41C12.756 7.704 12.462 7.902 12.462 7.902C12.168 8.1 12.024 8.1 12.024 8.1C11.316 8.1 11.316 7.272 11.316 7.272C11.316 6.804 11.748 6.048 11.748 6.048C11.916 5.76 12.096 5.472 12.096 5.472C12.276 5.184 12.456 4.896 12.456 4.896C10.92 5.664 9.672 7.164 9.672 7.164C9.516 7.38 9.348 7.626 9.348 7.626C9.18 7.872 9.048 8.04 9.048 8.04C8.916 8.208 8.856 8.208 8.856 8.208Z">
      </path>
      <path     fill="#000000"  d="M14.304 8.304C13.92 8.304 13.608 8.058 13.608 8.058C13.296 7.812 13.296 7.404 13.296 7.404C13.296 6.552 14.34 5.46 14.34 5.46C15.408 4.356 16.248 4.356 16.248 4.356C16.524 4.356 16.698 4.506 16.698 4.506C16.872 4.656 16.872 4.872 16.872 4.872C16.872 5.544 15.804 6.192 15.804 6.192C14.856 6.768 14.208 6.768 14.208 6.768C14.112 6.768 14.04 6.744 14.04 6.744C13.86 7.068 13.86 7.428 13.86 7.428C13.86 8.052 14.448 8.052 14.448 8.052C15.048 8.052 15.996 7.248 15.996 7.248C16.728 6.66 17.244 6 17.244 6C17.352 5.856 17.436 5.856 17.436 5.856C17.508 5.856 17.508 5.928 17.508 5.928C17.508 6 17.412 6.132 17.412 6.132C17.076 6.576 16.692 6.948 16.692 6.948C16.308 7.32 15.864 7.632 15.864 7.632C14.94 8.304 14.304 8.304 14.304 8.304ZM14.376 6.504C14.832 6.504 15.564 6.048 15.564 6.048C15.804 5.88 16.038 5.67 16.038 5.67C16.272 5.46 16.422 5.244 16.422 5.244C16.572 5.028 16.572 4.86 16.572 4.86C16.572 4.704 16.32 4.704 16.32 4.704C15.96 4.704 15.312 5.244 15.312 5.244C15 5.508 14.712 5.82 14.712 5.82C14.424 6.132 14.22 6.48 14.22 6.48C14.292 6.504 14.376 6.504 14.376 6.504Z">
      </path>
      <path     fill="#000000"  d="M19.224 8.208C18.708 8.208 18.516 7.938 18.516 7.938C18.324 7.668 18.324 7.212 18.324 7.212C18.324 6.708 18.636 6.012 18.636 6.012C18.756 5.736 18.888 5.514 18.888 5.514C19.02 5.292 19.164 5.1 19.164 5.1C19.116 5.112 19.08 5.112 19.08 5.112C19.044 5.112 19.008 5.112 19.008 5.112C18.72 5.112 18.528 4.704 18.528 4.704L17.64 5.856C16.932 6.78 16.776 6.78 16.776 6.78C16.716 6.78 16.716 6.732 16.716 6.732C16.716 6.672 16.776 6.576 16.776 6.576C16.812 6.504 16.92 6.384 16.92 6.384C17.376 5.856 17.76 5.34 17.76 5.34C18.144 4.824 18.396 4.332 18.396 4.332C18.672 3.288 19.092 3.288 19.092 3.288C19.368 3.288 19.368 3.54 19.368 3.54C19.368 3.768 19.068 4.14 19.068 4.14C18.78 4.512 18.78 4.524 18.78 4.524C18.78 4.776 19.152 4.776 19.152 4.776C19.368 4.776 19.632 4.62 19.632 4.62L19.944 4.428C19.968 4.416 20.016 4.416 20.016 4.416C20.16 4.416 20.268 4.536 20.268 4.536C20.376 4.656 20.34 4.752 20.34 4.752L19.512 5.796C18.744 6.78 18.744 7.38 18.744 7.38C18.744 7.92 19.272 7.92 19.272 7.92C19.632 7.92 20.046 7.704 20.046 7.704C20.46 7.488 20.85 7.17 20.85 7.17C21.24 6.852 21.504 6.552 21.504 6.552L21.792 6.216C21.816 6.192 21.852 6.156 21.852 6.156C21.888 6.12 21.912 6.12 21.912 6.12C21.996 6.12 21.996 6.204 21.996 6.204C21.996 6.228 21.972 6.288 21.972 6.288C21.948 6.348 21.888 6.42 21.888 6.42L21.504 6.852C21.228 7.164 20.826 7.482 20.826 7.482C20.424 7.8 19.998 8.004 19.998 8.004C19.572 8.208 19.224 8.208 19.224 8.208Z">
      </path>
      <path     fill="#000000"  d="M22.416 8.172C22.068 8.172 21.768 7.998 21.768 7.998C21.468 7.824 21.468 7.416 21.468 7.416C21.468 6.852 21.87 6.072 21.87 6.072C22.272 5.292 22.788 4.452 22.788 4.452C24.192 2.172 24.78 2.172 24.78 2.172C24.9 2.172 25.026 2.262 25.026 2.262C25.152 2.352 25.164 2.46 25.164 2.46L24.324 3.588C23.832 4.248 23.436 4.806 23.436 4.806C23.04 5.364 22.752 5.808 22.752 5.808C22.608 6.036 22.428 6.324 22.428 6.324C22.248 6.612 22.11 6.918 22.11 6.918C21.972 7.224 21.972 7.536 21.972 7.536C21.972 7.68 22.056 7.794 22.056 7.794C22.14 7.908 22.356 7.908 22.356 7.908C22.74 7.908 23.364 7.494 23.364 7.494C23.988 7.08 24.6 6.348 24.6 6.348C24.66 6.276 24.732 6.216 24.732 6.216C24.804 6.156 24.852 6.156 24.852 6.156C24.912 6.156 24.912 6.228 24.912 6.228C24.912 6.264 24.834 6.366 24.834 6.366C24.756 6.468 24.708 6.528 24.708 6.528L24.42 6.852C24.18 7.116 23.85 7.428 23.85 7.428C23.52 7.74 23.154 7.956 23.154 7.956C22.788 8.172 22.416 8.172 22.416 8.172Z">
      </path>
      <path     fill="#000000"  d="M24.936 8.172C24.636 8.172 24.468 7.89 24.468 7.89C24.3 7.608 24.3 7.344 24.3 7.344C24.3 6.624 25.344 5.328 25.344 5.328C26.4 4.02 27.048 4.02 27.048 4.02C27.66 4.02 27.66 4.668 27.66 4.668C27.66 4.764 27.642 4.872 27.642 4.872C27.624 4.98 27.6 5.1 27.6 5.1C27.624 5.136 27.72 5.136 27.72 5.136C28.044 5.136 28.488 4.908 28.488 4.908C28.476 5.112 27.54 5.496 27.54 5.496C27.672 5.892 26.748 7.008 26.748 7.008C25.8 8.172 25.128 8.172 25.128 8.172L24.936 8.172ZM25.152 7.812C25.668 7.812 26.472 6.864 26.472 6.864C27.252 5.94 27.252 5.532 27.252 5.532C27.06 5.424 26.772 4.98 26.772 4.98C26.364 4.98 25.596 5.964 25.596 5.964C24.84 6.924 24.864 7.44 24.864 7.44C24.876 7.812 25.152 7.812 25.152 7.812Z">
      </path>
      <path     fill="#000000"  d="M28.704 8.304C28.32 8.304 28.008 8.058 28.008 8.058C27.696 7.812 27.696 7.404 27.696 7.404C27.696 6.552 28.74 5.46 28.74 5.46C29.808 4.356 30.648 4.356 30.648 4.356C30.936 4.356 31.104 4.506 31.104 4.506C31.272 4.656 31.272 4.872 31.272 4.872C31.272 5.172 31.128 5.424 31.128 5.424C30.96 5.736 30.648 5.736 30.648 5.736C30.336 5.736 30.336 5.544 30.336 5.544C30.336 5.412 30.492 5.148 30.492 5.148C30.66 4.872 30.66 4.86 30.66 4.86C30.66 4.836 30.624 4.836 30.624 4.836C30.288 4.872 29.688 5.328 29.688 5.328C29.424 5.532 29.226 5.712 29.226 5.712C29.028 5.892 28.908 6.06 28.908 6.06L28.44 6.744C28.368 6.852 28.29 7.116 28.29 7.116C28.212 7.38 28.212 7.512 28.212 7.512C28.212 7.752 28.374 7.908 28.374 7.908C28.536 8.064 28.788 8.064 28.788 8.064C29.388 8.064 30.372 7.284 30.372 7.284C31.164 6.66 31.644 6.024 31.644 6.024C31.704 5.952 31.788 5.952 31.788 5.952C31.872 5.952 31.872 6 31.872 6C31.872 6.036 31.812 6.12 31.812 6.12C31.152 6.996 30.264 7.632 30.264 7.632C29.316 8.304 28.704 8.304 28.704 8.304Z">
      </path>
      <path     fill="#000000"  d="M33.648 8.292C33.252 8.292 32.946 8.064 32.946 8.064C32.64 7.836 32.418 7.488 32.418 7.488C32.196 7.14 32.04 6.792 32.04 6.792C31.956 6.9 31.866 7.068 31.866 7.068C31.776 7.236 31.656 7.464 31.656 7.464L31.284 8.208C30.852 8.04 30.852 7.752 30.852 7.752C30.852 7.236 32.424 4.884 32.424 4.884C33.948 2.604 34.524 2.196 34.524 2.196C34.584 2.16 34.716 2.16 34.716 2.16C35.088 2.16 35.088 2.352 35.088 2.352C35.088 2.388 34.92 2.61 34.92 2.61C34.752 2.832 34.5 3.144 34.5 3.144C34.248 3.456 33.99 3.774 33.99 3.774C33.732 4.092 33.54 4.326 33.54 4.326C33.348 4.56 33.324 4.62 33.324 4.62C34.416 4.056 35.064 4.056 35.064 4.056C35.316 4.056 35.526 4.2 35.526 4.2C35.736 4.344 35.856 4.548 35.856 4.548C35.976 4.752 35.952 4.944 35.952 4.944C35.856 5.628 34.992 6.072 34.992 6.072C34.296 6.444 33.72 6.444 33.72 6.444C33.096 6.444 32.856 6.288 32.856 6.288C32.784 6.276 32.742 6.318 32.742 6.318C32.7 6.36 32.724 6.444 32.724 6.444C33.06 7.932 33.84 7.932 33.84 7.932C34.224 7.932 34.866 7.488 34.866 7.488C35.508 7.044 36.228 6.192 36.228 6.192C36.312 6.108 36.384 6.108 36.384 6.108C36.444 6.108 36.444 6.18 36.444 6.18C36.444 6.24 36.36 6.36 36.36 6.36C36.012 6.78 35.55 7.23 35.55 7.23C35.088 7.68 34.596 7.986 34.596 7.986C34.104 8.292 33.648 8.292 33.648 8.292ZM32.952 6.132C33.492 6.132 34.368 5.688 34.368 5.688C35.376 5.184 35.376 4.62 35.376 4.62C35.376 4.524 35.268 4.428 35.268 4.428C35.16 4.332 35.04 4.332 35.04 4.332C34.392 4.332 33.528 4.836 33.528 4.836C32.58 5.412 32.376 6.096 32.376 6.096C32.508 6.096 32.718 6.114 32.718 6.114C32.928 6.132 32.952 6.132 32.952 6.132Z">
      </path>
      <path     fill="#000000"  d="M42.456 9.456C41.784 9.456 41.076 9.258 41.076 9.258C40.368 9.06 39.738 8.676 39.738 8.676C39.108 8.292 38.652 7.764 38.652 7.764C37.692 8.724 36.828 8.724 36.828 8.724C36.384 8.724 36.168 8.466 36.168 8.466C35.952 8.208 35.952 7.8 35.952 7.8C35.952 7.044 36.528 6.024 36.528 6.024C37.068 5.064 37.392 5.016 37.392 5.016C37.632 5.016 37.884 5.508 37.884 5.508L38.64 6.972C39.276 6.12 39.972 5.136 39.972 5.136C38.988 4.692 38.988 3.852 38.988 3.852C38.988 3.492 39.162 3.186 39.162 3.186C39.336 2.88 39.612 2.688 39.612 2.688C39.888 2.496 40.176 2.496 40.176 2.496C40.572 2.496 40.752 2.868 40.752 2.868C40.776 2.904 40.758 2.94 40.758 2.94C40.74 2.976 40.716 2.964 40.716 2.964C40.632 2.868 40.476 2.796 40.476 2.796C40.32 2.724 40.188 2.724 40.188 2.724C39.936 2.724 39.726 2.922 39.726 2.922C39.516 3.12 39.402 3.384 39.402 3.384C39.288 3.648 39.312 3.852 39.312 3.852C39.312 4.464 40.176 4.92 40.176 4.92C40.38 4.62 40.62 4.266 40.62 4.266C40.86 3.912 41.136 3.504 41.136 3.504C43.524 0 45.108 0 45.108 0C46.224 0 46.224 1.044 46.224 1.044C46.224 1.992 45.3 3.276 45.3 3.276C44.844 3.912 44.148 4.416 44.148 4.416C43.452 4.92 42.678 5.214 42.678 5.214C41.904 5.508 41.184 5.508 41.184 5.508C41.016 5.508 40.854 5.49 40.854 5.49C40.692 5.472 40.56 5.424 40.56 5.424C40.248 5.832 39.84 6.336 39.84 6.336C39.432 6.84 38.94 7.452 38.94 7.452C39.156 7.752 39.558 8.052 39.558 8.052C39.96 8.352 40.464 8.586 40.464 8.586C40.968 8.82 41.46 8.964 41.46 8.964C41.952 9.108 42.348 9.108 42.348 9.108C42.804 9.108 43.188 9.006 43.188 9.006C43.572 8.904 43.812 8.682 43.812 8.682C44.052 8.46 44.052 8.1 44.052 8.1C44.052 8.052 44.052 8.004 44.052 8.004C44.052 7.956 44.04 7.908 44.04 7.908C44.04 7.884 44.034 7.872 44.034 7.872C44.028 7.86 44.028 7.848 44.028 7.848C44.028 7.728 44.1 7.728 44.1 7.728C44.22 7.728 44.292 7.914 44.292 7.914C44.364 8.1 44.364 8.208 44.364 8.208C44.364 8.58 44.076 8.862 44.076 8.862C43.788 9.144 43.35 9.3 43.35 9.3C42.912 9.456 42.456 9.456 42.456 9.456ZM41.1 5.196C41.712 5.196 42.408 4.914 42.408 4.914C43.104 4.632 43.722 4.17 43.722 4.17C44.34 3.708 44.724 3.168 44.724 3.168C45.816 1.644 45.816 0.852 45.816 0.852C45.816 0.516 45.624 0.36 45.624 0.36C45.432 0.204 45.156 0.204 45.156 0.204C44.556 0.204 43.668 1.212 43.668 1.212C43.392 1.536 42.942 2.142 42.942 2.142C42.492 2.748 41.88 3.636 41.88 3.636C41.64 3.984 41.352 4.368 41.352 4.368C41.064 4.752 40.752 5.16 40.752 5.16C40.92 5.196 41.1 5.196 41.1 5.196ZM36.852 8.4C37.08 8.4 37.362 8.238 37.362 8.238C37.644 8.076 37.908 7.836 37.908 7.836C38.172 7.596 38.34 7.368 38.34 7.368C38.172 7.128 37.98 6.792 37.98 6.792C37.788 6.456 37.56 6.012 37.56 6.012C37.284 5.436 37.14 5.496 37.14 5.496C36.924 5.532 36.672 6.264 36.672 6.264C36.42 6.996 36.42 7.632 36.42 7.632C36.42 8.4 36.852 8.4 36.852 8.4Z">
      </path>
      <path     fill="#000000"  d="M44.616 8.208C44.328 8.208 44.04 8.004 44.04 8.004C43.752 7.8 43.716 7.524 43.716 7.524C43.596 6.6 44.88 5.328 44.88 5.328C46.152 4.056 47.172 4.056 47.172 4.056C47.448 4.056 47.604 4.188 47.604 4.188C47.688 4.272 47.73 4.416 47.73 4.416C47.772 4.56 47.796 4.56 47.796 4.56C47.844 4.56 47.88 4.542 47.88 4.542C47.916 4.524 47.964 4.524 47.964 4.524C48.108 4.524 48.216 4.632 48.216 4.632C48.324 4.74 48.336 4.824 48.336 4.824C48.348 4.848 47.568 6.012 47.568 6.012C46.788 7.152 46.86 7.56 46.86 7.56C46.92 7.836 47.124 7.836 47.124 7.836C47.748 7.836 49.404 5.772 49.404 5.772C49.44 5.724 49.476 5.724 49.476 5.724C49.536 5.724 49.536 5.808 49.536 5.808C49.536 5.904 49.428 6.048 49.428 6.048C47.904 8.1 47.088 8.1 47.088 8.1C46.98 8.1 46.884 8.064 46.884 8.064C46.356 7.86 46.356 7.272 46.356 7.272C46.356 7.068 46.404 6.864 46.404 6.864L45.66 7.584C45.324 7.92 45.054 8.064 45.054 8.064C44.784 8.208 44.616 8.208 44.616 8.208ZM44.508 7.944C45.204 7.944 46.404 6.42 46.404 6.42L47.676 4.668C47.58 4.5 47.364 4.5 47.364 4.5C46.632 4.5 45.384 5.676 45.384 5.676C44.088 6.876 44.22 7.656 44.22 7.656C44.28 7.944 44.508 7.944 44.508 7.944Z">
      </path>
      <path     fill="#000000"  d="M49.32 8.28C48.78 8.28 48.78 7.596 48.78 7.596C48.78 7.332 48.942 6.966 48.942 6.966C49.104 6.6 49.404 6.192 49.404 6.192L49.188 6.396C48.972 6.6 48.696 6.912 48.696 6.912C48.648 6.96 48.576 6.96 48.576 6.96C48.528 6.96 48.528 6.9 48.528 6.9C48.528 6.84 48.636 6.696 48.636 6.696L50.292 4.752C50.604 4.392 50.976 4.392 50.976 4.392C51.252 4.392 51.252 4.608 51.252 4.608C51.252 4.692 51.18 4.764 51.18 4.764C50.952 4.98 50.622 5.376 50.622 5.376C50.292 5.772 49.98 6.228 49.98 6.228C49.668 6.684 49.458 7.098 49.458 7.098C49.248 7.512 49.248 7.764 49.248 7.764C49.248 7.98 49.392 7.98 49.392 7.98C49.476 7.98 49.656 7.914 49.656 7.914C49.836 7.848 50.136 7.638 50.136 7.638C50.436 7.428 50.856 6.984 50.856 6.984C50.928 6.912 51.24 6.552 51.24 6.552C51.552 6.192 52.08 5.52 52.08 5.52C53.016 4.356 53.304 4.356 53.304 4.356C53.7 4.356 53.736 4.68 53.736 4.68C53.76 4.788 53.232 5.388 53.232 5.388C52.548 6.216 52.296 6.576 52.296 6.576C51.828 7.26 51.828 7.644 51.828 7.644C51.828 7.908 52.008 7.908 52.008 7.908C52.188 7.908 52.47 7.734 52.47 7.734C52.752 7.56 53.064 7.29 53.064 7.29C53.376 7.02 53.67 6.726 53.67 6.726C53.964 6.432 54.18 6.18 54.18 6.18C54.252 6.096 54.324 6.096 54.324 6.096C54.396 6.096 54.396 6.168 54.396 6.168C54.396 6.192 54.384 6.24 54.384 6.24C54.372 6.288 54.312 6.348 54.312 6.348C54.12 6.564 53.82 6.882 53.82 6.882C53.52 7.2 53.172 7.512 53.172 7.512C52.824 7.824 52.5 8.028 52.5 8.028C52.176 8.232 51.948 8.232 51.948 8.232C51.672 8.232 51.468 8.082 51.468 8.082C51.264 7.932 51.264 7.668 51.264 7.668C51.264 7.404 51.348 7.134 51.348 7.134C51.432 6.864 51.48 6.672 51.48 6.672C50.916 7.332 50.49 7.68 50.49 7.68C50.064 8.028 49.776 8.154 49.776 8.154C49.488 8.28 49.32 8.28 49.32 8.28Z">
      </path>
      </svg>


  </div>
</Link>

<style>
  .link {
    /* opacity: 1; */
    -webkit-user-select: none;
    user-select: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 350px 0;
    }
    20% {
      stroke-dasharray: 0 350px;
    }
    80% {
      stroke-dasharray: 0 350px;
    }
    to {
      stroke-dasharray: 350px 0;
    }
  }

  .draw {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 10s ease forwards infinite;
  }

  @media (prefers-reduced-motion), print {
    .draw {
      stroke-dasharray: unset !important;
      animation: none !important;
    }
  }
</style>
