---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<Link
  class="link op-transition"
  href={getUrl('/')}
  {title}
  aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg> -->

    <!-- TEXT SVG (Great Vibes) -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10.428009033203125" height="8.639984130859375" viewBox="0 0 10.428009033203125 8.639984130859375" fill="none">
      <path     fill="#000000"  d="M3.552 8.63999C3.06 8.63999 2.328 8.05199 2.328 8.05199C1.812 7.96799 1.446 7.82999 1.446 7.82999C1.08 7.69199 0.84 7.49999 0.84 7.49999C0.504 7.21199 0.252 6.73199 0.252 6.73199C0 6.25199 0 5.80799 0 5.80799C0 5.47199 0.156 5.20799 0.156 5.20799C0.516 4.57199 1.068 4.57199 1.068 4.57199C1.488 4.57199 1.56 5.27999 1.56 5.27999C1.644 5.93999 1.698 6.32999 1.698 6.32999C1.752 6.71999 1.788 6.83999 1.788 6.83999C1.968 7.42799 2.4 7.83599 2.4 7.83599C2.904 7.94399 3.492 7.94399 3.492 7.94399C4.788 7.94399 5.976 7.45199 5.976 7.45199C6.48 7.23599 6.96 6.88799 6.96 6.88799C7.44 6.53999 7.752 6.11999 7.752 6.11999C8.064 5.69999 8.064 5.30399 8.064 5.30399C8.064 4.73999 7.068 4.42799 7.068 4.42799L4.956 3.94799C4.308 3.80399 3.918 3.43799 3.918 3.43799C3.528 3.07199 3.528 2.60399 3.528 2.60399C3.528 1.88399 4.428 1.16399 4.428 1.16399C4.884 0.79199 5.496 0.53399 5.496 0.53399C6.108 0.27599 6.786 0.13799 6.786 0.13799C7.464 -1.0252e-05 8.088 -1.0252e-05 8.088 -1.0252e-05C8.976 -1.0252e-05 9.606 0.27599 9.606 0.27599C10.236 0.55199 10.392 1.07999 10.392 1.07999C10.428 1.19999 10.428 1.34399 10.428 1.34399C10.428 2.07599 9.696 2.36399 9.696 2.36399C9.252 2.54399 8.94 2.54399 8.94 2.54399C8.748 2.54399 8.64 2.47199 8.64 2.47199C8.616 2.44799 8.616 2.41199 8.616 2.41199C8.616 2.32799 8.952 2.31599 8.952 2.31599C9.156 2.30399 9.288 2.27999 9.288 2.27999C9.42 2.25599 9.48 2.23199 9.48 2.23199C9.936 1.99199 9.936 1.52399 9.936 1.52399C9.936 1.28399 9.804 1.01999 9.804 1.01999C9.432 0.33599 7.944 0.33599 7.944 0.33599C7.404 0.33599 6.828 0.44999 6.828 0.44999C6.252 0.56399 5.736 0.78599 5.736 0.78599C5.22 1.00799 4.86 1.34399 4.86 1.34399C4.236 1.91999 4.236 2.37599 4.236 2.37599C4.236 2.72399 4.578 2.99399 4.578 2.99399C4.92 3.26399 5.616 3.39599 5.616 3.39599L7.032 3.65999C7.848 3.81599 8.352 4.12199 8.352 4.12199C8.856 4.42799 8.856 5.05199 8.856 5.05199C8.856 5.60399 8.58 6.08399 8.58 6.08399C8.304 6.56399 7.842 6.94199 7.842 6.94199C7.38 7.31999 6.792 7.57199 6.792 7.57199C5.46 8.15999 3.648 8.15999 3.648 8.15999C3.42 8.15999 3.192 8.14799 3.192 8.14799C2.964 8.13599 2.748 8.11199 2.748 8.11199C2.916 8.20799 3.174 8.30399 3.174 8.30399C3.432 8.39999 3.768 8.48399 3.768 8.48399C3.804 8.49599 3.804 8.53199 3.804 8.53199C3.804 8.63999 3.552 8.63999 3.552 8.63999ZM1.968 7.71599C1.644 7.35599 1.464 6.97199 1.464 6.97199C1.2 6.37199 1.068 5.49599 1.068 5.49599C0.972 4.85999 0.864 4.85999 0.864 4.85999C0.768 4.85999 0.606 5.00399 0.606 5.00399C0.444 5.14799 0.444 5.61599 0.444 5.61599C0.444 6.52799 1.092 7.19999 1.092 7.19999C1.416 7.53599 1.968 7.71599 1.968 7.71599Z">
      </path>
      <path     fill="#000000"  d="M8.856 7.55999C8.508 7.55999 8.508 7.35599 8.508 7.35599C8.508 7.23599 8.652 6.97199 8.652 6.97199C9.204 5.98799 9.642 5.22599 9.642 5.22599C10.08 4.46399 10.416 3.93599 10.416 3.93599C11.844 1.64399 12.432 1.45199 12.432 1.45199C12.456 1.45199 12.468 1.44599 12.468 1.44599C12.48 1.43999 12.492 1.43999 12.492 1.43999C12.648 1.43999 12.696 1.69199 12.696 1.69199C12.66 1.94399 11.448 3.51599 11.448 3.51599C10.812 4.31999 10.458 4.84199 10.458 4.84199C10.104 5.36399 10.02 5.60399 10.02 5.60399C10.416 5.31599 10.872 4.99199 10.872 4.99199C11.328 4.66799 11.76 4.37399 11.76 4.37399C12.192 4.07999 12.54 3.89399 12.54 3.89399C12.888 3.70799 13.08 3.68399 13.08 3.68399C13.104 3.68399 13.14 3.67799 13.14 3.67799C13.176 3.67199 13.188 3.67199 13.188 3.67199C13.524 3.67199 13.524 3.98399 13.524 3.98399C13.524 4.06799 13.308 4.35599 13.308 4.35599C13.092 4.64399 12.648 5.24399 12.648 5.24399C11.856 6.29999 11.856 6.82799 11.856 6.82799C11.856 7.10399 12.06 7.10399 12.06 7.10399C12.276 7.09199 12.558 6.91199 12.558 6.91199C12.84 6.73199 13.128 6.46799 13.128 6.46799C13.416 6.20399 13.65 5.94599 13.65 5.94599C13.884 5.68799 14.004 5.54399 14.004 5.54399C14.112 5.43599 14.172 5.43599 14.172 5.43599C14.22 5.43599 14.22 5.48399 14.22 5.48399C14.22 5.57999 14.124 5.71199 14.124 5.71199C13.98 5.89199 13.698 6.17999 13.698 6.17999C13.416 6.46799 13.086 6.76199 13.086 6.76199C12.756 7.05599 12.462 7.25399 12.462 7.25399C12.168 7.45199 12.024 7.45199 12.024 7.45199C11.316 7.45199 11.316 6.62399 11.316 6.62399C11.316 6.15599 11.748 5.39999 11.748 5.39999C11.916 5.11199 12.096 4.82399 12.096 4.82399C12.276 4.53599 12.456 4.24799 12.456 4.24799C10.92 5.01599 9.672 6.51599 9.672 6.51599C9.516 6.73199 9.348 6.97799 9.348 6.97799C9.18 7.22399 9.048 7.39199 9.048 7.39199C8.916 7.55999 8.856 7.55999 8.856 7.55999Z">
      </path>
      <path     fill="#000000"  d="M14.304 7.65599C13.92 7.65599 13.608 7.40999 13.608 7.40999C13.296 7.16399 13.296 6.75599 13.296 6.75599C13.296 5.90399 14.34 4.81199 14.34 4.81199C15.408 3.70799 16.248 3.70799 16.248 3.70799C16.524 3.70799 16.698 3.85799 16.698 3.85799C16.872 4.00799 16.872 4.22399 16.872 4.22399C16.872 4.89599 15.804 5.54399 15.804 5.54399C14.856 6.11999 14.208 6.11999 14.208 6.11999C14.112 6.11999 14.04 6.09599 14.04 6.09599C13.86 6.41999 13.86 6.77999 13.86 6.77999C13.86 7.40399 14.448 7.40399 14.448 7.40399C15.048 7.40399 15.996 6.59999 15.996 6.59999C16.728 6.01199 17.244 5.35199 17.244 5.35199C17.352 5.20799 17.436 5.20799 17.436 5.20799C17.508 5.20799 17.508 5.27999 17.508 5.27999C17.508 5.35199 17.412 5.48399 17.412 5.48399C17.076 5.92799 16.692 6.29999 16.692 6.29999C16.308 6.67199 15.864 6.98399 15.864 6.98399C14.94 7.65599 14.304 7.65599 14.304 7.65599ZM14.376 5.85599C14.832 5.85599 15.564 5.39999 15.564 5.39999C15.804 5.23199 16.038 5.02199 16.038 5.02199C16.272 4.81199 16.422 4.59599 16.422 4.59599C16.572 4.37999 16.572 4.21199 16.572 4.21199C16.572 4.05599 16.32 4.05599 16.32 4.05599C15.96 4.05599 15.312 4.59599 15.312 4.59599C15 4.85999 14.712 5.17199 14.712 5.17199C14.424 5.48399 14.22 5.83199 14.22 5.83199C14.292 5.85599 14.376 5.85599 14.376 5.85599Z">
      </path>
      <path     fill="#000000"  d="M19.224 7.55999C18.708 7.55999 18.516 7.28999 18.516 7.28999C18.324 7.01999 18.324 6.56399 18.324 6.56399C18.324 6.05999 18.636 5.36399 18.636 5.36399C18.756 5.08799 18.888 4.86599 18.888 4.86599C19.02 4.64399 19.164 4.45199 19.164 4.45199C19.116 4.46399 19.08 4.46399 19.08 4.46399C19.044 4.46399 19.008 4.46399 19.008 4.46399C18.72 4.46399 18.528 4.05599 18.528 4.05599L17.64 5.20799C16.932 6.13199 16.776 6.13199 16.776 6.13199C16.716 6.13199 16.716 6.08399 16.716 6.08399C16.716 6.02399 16.776 5.92799 16.776 5.92799C16.812 5.85599 16.92 5.73599 16.92 5.73599C17.376 5.20799 17.76 4.69199 17.76 4.69199C18.144 4.17599 18.396 3.68399 18.396 3.68399C18.672 2.63999 19.092 2.63999 19.092 2.63999C19.368 2.63999 19.368 2.89199 19.368 2.89199C19.368 3.11999 19.068 3.49199 19.068 3.49199C18.78 3.86399 18.78 3.87599 18.78 3.87599C18.78 4.12799 19.152 4.12799 19.152 4.12799C19.368 4.12799 19.632 3.97199 19.632 3.97199L19.944 3.77999C19.968 3.76799 20.016 3.76799 20.016 3.76799C20.16 3.76799 20.268 3.88799 20.268 3.88799C20.376 4.00799 20.34 4.10399 20.34 4.10399L19.512 5.14799C18.744 6.13199 18.744 6.73199 18.744 6.73199C18.744 7.27199 19.272 7.27199 19.272 7.27199C19.632 7.27199 20.046 7.05599 20.046 7.05599C20.46 6.83999 20.85 6.52199 20.85 6.52199C21.24 6.20399 21.504 5.90399 21.504 5.90399L21.792 5.56799C21.816 5.54399 21.852 5.50799 21.852 5.50799C21.888 5.47199 21.912 5.47199 21.912 5.47199C21.996 5.47199 21.996 5.55599 21.996 5.55599C21.996 5.57999 21.972 5.63999 21.972 5.63999C21.948 5.69999 21.888 5.77199 21.888 5.77199L21.504 6.20399C21.228 6.51599 20.826 6.83399 20.826 6.83399C20.424 7.15199 19.998 7.35599 19.998 7.35599C19.572 7.55999 19.224 7.55999 19.224 7.55999Z">
      </path>
      <path     fill="#000000"  d="M22.416 7.52399C22.068 7.52399 21.768 7.34999 21.768 7.34999C21.468 7.17599 21.468 6.76799 21.468 6.76799C21.468 6.20399 21.87 5.42399 21.87 5.42399C22.272 4.64399 22.788 3.80399 22.788 3.80399C24.192 1.52399 24.78 1.52399 24.78 1.52399C24.9 1.52399 25.026 1.61399 25.026 1.61399C25.152 1.70399 25.164 1.81199 25.164 1.81199L24.324 2.93999C23.832 3.59999 23.436 4.15799 23.436 4.15799C23.04 4.71599 22.752 5.15999 22.752 5.15999C22.608 5.38799 22.428 5.67599 22.428 5.67599C22.248 5.96399 22.11 6.26999 22.11 6.26999C21.972 6.57599 21.972 6.88799 21.972 6.88799C21.972 7.03199 22.056 7.14599 22.056 7.14599C22.14 7.25999 22.356 7.25999 22.356 7.25999C22.74 7.25999 23.364 6.84599 23.364 6.84599C23.988 6.43199 24.6 5.69999 24.6 5.69999C24.66 5.62799 24.732 5.56799 24.732 5.56799C24.804 5.50799 24.852 5.50799 24.852 5.50799C24.912 5.50799 24.912 5.57999 24.912 5.57999C24.912 5.61599 24.834 5.71799 24.834 5.71799C24.756 5.81999 24.708 5.87999 24.708 5.87999L24.42 6.20399C24.18 6.46799 23.85 6.77999 23.85 6.77999C23.52 7.09199 23.154 7.30799 23.154 7.30799C22.788 7.52399 22.416 7.52399 22.416 7.52399Z">
      </path>
      <path     fill="#000000"  d="M24.936 7.52399C24.636 7.52399 24.468 7.24199 24.468 7.24199C24.3 6.95999 24.3 6.69599 24.3 6.69599C24.3 5.97599 25.344 4.67999 25.344 4.67999C26.4 3.37199 27.048 3.37199 27.048 3.37199C27.66 3.37199 27.66 4.01999 27.66 4.01999C27.66 4.11599 27.642 4.22399 27.642 4.22399C27.624 4.33199 27.6 4.45199 27.6 4.45199C27.624 4.48799 27.72 4.48799 27.72 4.48799C28.044 4.48799 28.488 4.25999 28.488 4.25999C28.476 4.46399 27.54 4.84799 27.54 4.84799C27.672 5.24399 26.748 6.35999 26.748 6.35999C25.8 7.52399 25.128 7.52399 25.128 7.52399L24.936 7.52399ZM25.152 7.16399C25.668 7.16399 26.472 6.21599 26.472 6.21599C27.252 5.29199 27.252 4.88399 27.252 4.88399C27.06 4.77599 26.772 4.33199 26.772 4.33199C26.364 4.33199 25.596 5.31599 25.596 5.31599C24.84 6.27599 24.864 6.79199 24.864 6.79199C24.876 7.16399 25.152 7.16399 25.152 7.16399Z">
      </path>
      <path     fill="#000000"  d="M28.704 7.65599C28.32 7.65599 28.008 7.40999 28.008 7.40999C27.696 7.16399 27.696 6.75599 27.696 6.75599C27.696 5.90399 28.74 4.81199 28.74 4.81199C29.808 3.70799 30.648 3.70799 30.648 3.70799C30.936 3.70799 31.104 3.85799 31.104 3.85799C31.272 4.00799 31.272 4.22399 31.272 4.22399C31.272 4.52399 31.128 4.77599 31.128 4.77599C30.96 5.08799 30.648 5.08799 30.648 5.08799C30.336 5.08799 30.336 4.89599 30.336 4.89599C30.336 4.76399 30.492 4.49999 30.492 4.49999C30.66 4.22399 30.66 4.21199 30.66 4.21199C30.66 4.18799 30.624 4.18799 30.624 4.18799C30.288 4.22399 29.688 4.67999 29.688 4.67999C29.424 4.88399 29.226 5.06399 29.226 5.06399C29.028 5.24399 28.908 5.41199 28.908 5.41199L28.44 6.09599C28.368 6.20399 28.29 6.46799 28.29 6.46799C28.212 6.73199 28.212 6.86399 28.212 6.86399C28.212 7.10399 28.374 7.25999 28.374 7.25999C28.536 7.41599 28.788 7.41599 28.788 7.41599C29.388 7.41599 30.372 6.63599 30.372 6.63599C31.164 6.01199 31.644 5.37599 31.644 5.37599C31.704 5.30399 31.788 5.30399 31.788 5.30399C31.872 5.30399 31.872 5.35199 31.872 5.35199C31.872 5.38799 31.812 5.47199 31.812 5.47199C31.152 6.34799 30.264 6.98399 30.264 6.98399C29.316 7.65599 28.704 7.65599 28.704 7.65599Z">
      </path>
      <path     fill="#000000"  d="M33.648 7.64399C33.252 7.64399 32.946 7.41599 32.946 7.41599C32.64 7.18799 32.418 6.83999 32.418 6.83999C32.196 6.49199 32.04 6.14399 32.04 6.14399C31.956 6.25199 31.866 6.41999 31.866 6.41999C31.776 6.58799 31.656 6.81599 31.656 6.81599L31.284 7.55999C30.852 7.39199 30.852 7.10399 30.852 7.10399C30.852 6.58799 32.424 4.23599 32.424 4.23599C33.948 1.95599 34.524 1.54799 34.524 1.54799C34.584 1.51199 34.716 1.51199 34.716 1.51199C35.088 1.51199 35.088 1.70399 35.088 1.70399C35.088 1.73999 34.92 1.96199 34.92 1.96199C34.752 2.18399 34.5 2.49599 34.5 2.49599C34.248 2.80799 33.99 3.12599 33.99 3.12599C33.732 3.44399 33.54 3.67799 33.54 3.67799C33.348 3.91199 33.324 3.97199 33.324 3.97199C34.416 3.40799 35.064 3.40799 35.064 3.40799C35.316 3.40799 35.526 3.55199 35.526 3.55199C35.736 3.69599 35.856 3.89999 35.856 3.89999C35.976 4.10399 35.952 4.29599 35.952 4.29599C35.856 4.97999 34.992 5.42399 34.992 5.42399C34.296 5.79599 33.72 5.79599 33.72 5.79599C33.096 5.79599 32.856 5.63999 32.856 5.63999C32.784 5.62799 32.742 5.66999 32.742 5.66999C32.7 5.71199 32.724 5.79599 32.724 5.79599C33.06 7.28399 33.84 7.28399 33.84 7.28399C34.224 7.28399 34.866 6.83999 34.866 6.83999C35.508 6.39599 36.228 5.54399 36.228 5.54399C36.312 5.45999 36.384 5.45999 36.384 5.45999C36.444 5.45999 36.444 5.53199 36.444 5.53199C36.444 5.59199 36.36 5.71199 36.36 5.71199C36.012 6.13199 35.55 6.58199 35.55 6.58199C35.088 7.03199 34.596 7.33799 34.596 7.33799C34.104 7.64399 33.648 7.64399 33.648 7.64399ZM32.952 5.48399C33.492 5.48399 34.368 5.03999 34.368 5.03999C35.376 4.53599 35.376 3.97199 35.376 3.97199C35.376 3.87599 35.268 3.77999 35.268 3.77999C35.16 3.68399 35.04 3.68399 35.04 3.68399C34.392 3.68399 33.528 4.18799 33.528 4.18799C32.58 4.76399 32.376 5.44799 32.376 5.44799C32.508 5.44799 32.718 5.46599 32.718 5.46599C32.928 5.48399 32.952 5.48399 32.952 5.48399Z">
      </path>
      <path     fill="#000000"  d="M42.456 8.80799C41.784 8.80799 41.076 8.60999 41.076 8.60999C40.368 8.41199 39.738 8.02799 39.738 8.02799C39.108 7.64399 38.652 7.11599 38.652 7.11599C37.692 8.07599 36.828 8.07599 36.828 8.07599C36.384 8.07599 36.168 7.81799 36.168 7.81799C35.952 7.55999 35.952 7.15199 35.952 7.15199C35.952 6.39599 36.528 5.37599 36.528 5.37599C37.068 4.41599 37.392 4.36799 37.392 4.36799C37.632 4.36799 37.884 4.85999 37.884 4.85999L38.64 6.32399C39.276 5.47199 39.972 4.48799 39.972 4.48799C38.988 4.04399 38.988 3.20399 38.988 3.20399C38.988 2.84399 39.162 2.53799 39.162 2.53799C39.336 2.23199 39.612 2.03999 39.612 2.03999C39.888 1.84799 40.176 1.84799 40.176 1.84799C40.572 1.84799 40.752 2.21999 40.752 2.21999C40.776 2.25599 40.758 2.29199 40.758 2.29199C40.74 2.32799 40.716 2.31599 40.716 2.31599C40.632 2.21999 40.476 2.14799 40.476 2.14799C40.32 2.07599 40.188 2.07599 40.188 2.07599C39.936 2.07599 39.726 2.27399 39.726 2.27399C39.516 2.47199 39.402 2.73599 39.402 2.73599C39.288 2.99999 39.312 3.20399 39.312 3.20399C39.312 3.81599 40.176 4.27199 40.176 4.27199C40.38 3.97199 40.62 3.61799 40.62 3.61799C40.86 3.26399 41.136 2.85599 41.136 2.85599C43.524 -0.64801 45.108 -0.64801 45.108 -0.64801C46.224 -0.64801 46.224 0.39599 46.224 0.39599C46.224 1.34399 45.3 2.62799 45.3 2.62799C44.844 3.26399 44.148 3.76799 44.148 3.76799C43.452 4.27199 42.678 4.56599 42.678 4.56599C41.904 4.85999 41.184 4.85999 41.184 4.85999C41.016 4.85999 40.854 4.84199 40.854 4.84199C40.692 4.82399 40.56 4.77599 40.56 4.77599C40.248 5.18399 39.84 5.68799 39.84 5.68799C39.432 6.19199 38.94 6.80399 38.94 6.80399C39.156 7.10399 39.558 7.40399 39.558 7.40399C39.96 7.70399 40.464 7.93799 40.464 7.93799C40.968 8.17199 41.46 8.31599 41.46 8.31599C41.952 8.45999 42.348 8.45999 42.348 8.45999C42.804 8.45999 43.188 8.35799 43.188 8.35799C43.572 8.25599 43.812 8.03399 43.812 8.03399C44.052 7.81199 44.052 7.45199 44.052 7.45199C44.052 7.40399 44.052 7.35599 44.052 7.35599C44.052 7.30799 44.04 7.25999 44.04 7.25999C44.04 7.23599 44.034 7.22399 44.034 7.22399C44.028 7.21199 44.028 7.19999 44.028 7.19999C44.028 7.07999 44.1 7.07999 44.1 7.07999C44.22 7.07999 44.292 7.26599 44.292 7.26599C44.364 7.45199 44.364 7.55999 44.364 7.55999C44.364 7.93199 44.076 8.21399 44.076 8.21399C43.788 8.49599 43.35 8.65199 43.35 8.65199C42.912 8.80799 42.456 8.80799 42.456 8.80799ZM41.1 4.54799C41.712 4.54799 42.408 4.26599 42.408 4.26599C43.104 3.98399 43.722 3.52199 43.722 3.52199C44.34 3.05999 44.724 2.51999 44.724 2.51999C45.816 0.99599 45.816 0.20399 45.816 0.20399C45.816 -0.13201 45.624 -0.28801 45.624 -0.28801C45.432 -0.44401 45.156 -0.44401 45.156 -0.44401C44.556 -0.44401 43.668 0.56399 43.668 0.56399C43.392 0.88799 42.942 1.49399 42.942 1.49399C42.492 2.09999 41.88 2.98799 41.88 2.98799C41.64 3.33599 41.352 3.71999 41.352 3.71999C41.064 4.10399 40.752 4.51199 40.752 4.51199C40.92 4.54799 41.1 4.54799 41.1 4.54799ZM36.852 7.75199C37.08 7.75199 37.362 7.58999 37.362 7.58999C37.644 7.42799 37.908 7.18799 37.908 7.18799C38.172 6.94799 38.34 6.71999 38.34 6.71999C38.172 6.47999 37.98 6.14399 37.98 6.14399C37.788 5.80799 37.56 5.36399 37.56 5.36399C37.284 4.78799 37.14 4.84799 37.14 4.84799C36.924 4.88399 36.672 5.61599 36.672 5.61599C36.42 6.34799 36.42 6.98399 36.42 6.98399C36.42 7.75199 36.852 7.75199 36.852 7.75199Z">
      </path>
      <path     fill="#000000"  d="M44.616 7.55999C44.328 7.55999 44.04 7.35599 44.04 7.35599C43.752 7.15199 43.716 6.87599 43.716 6.87599C43.596 5.95199 44.88 4.67999 44.88 4.67999C46.152 3.40799 47.172 3.40799 47.172 3.40799C47.448 3.40799 47.604 3.53999 47.604 3.53999C47.688 3.62399 47.73 3.76799 47.73 3.76799C47.772 3.91199 47.796 3.91199 47.796 3.91199C47.844 3.91199 47.88 3.89399 47.88 3.89399C47.916 3.87599 47.964 3.87599 47.964 3.87599C48.108 3.87599 48.216 3.98399 48.216 3.98399C48.324 4.09199 48.336 4.17599 48.336 4.17599C48.348 4.19999 47.568 5.36399 47.568 5.36399C46.788 6.50399 46.86 6.91199 46.86 6.91199C46.92 7.18799 47.124 7.18799 47.124 7.18799C47.748 7.18799 49.404 5.12399 49.404 5.12399C49.44 5.07599 49.476 5.07599 49.476 5.07599C49.536 5.07599 49.536 5.15999 49.536 5.15999C49.536 5.25599 49.428 5.39999 49.428 5.39999C47.904 7.45199 47.088 7.45199 47.088 7.45199C46.98 7.45199 46.884 7.41599 46.884 7.41599C46.356 7.21199 46.356 6.62399 46.356 6.62399C46.356 6.41999 46.404 6.21599 46.404 6.21599L45.66 6.93599C45.324 7.27199 45.054 7.41599 45.054 7.41599C44.784 7.55999 44.616 7.55999 44.616 7.55999ZM44.508 7.29599C45.204 7.29599 46.404 5.77199 46.404 5.77199L47.676 4.01999C47.58 3.85199 47.364 3.85199 47.364 3.85199C46.632 3.85199 45.384 5.02799 45.384 5.02799C44.088 6.22799 44.22 7.00799 44.22 7.00799C44.28 7.29599 44.508 7.29599 44.508 7.29599Z">
      </path>
      <path     fill="#000000"  d="M49.32 7.63199C48.78 7.63199 48.78 6.94799 48.78 6.94799C48.78 6.68399 48.942 6.31799 48.942 6.31799C49.104 5.95199 49.404 5.54399 49.404 5.54399L49.188 5.74799C48.972 5.95199 48.696 6.26399 48.696 6.26399C48.648 6.31199 48.576 6.31199 48.576 6.31199C48.528 6.31199 48.528 6.25199 48.528 6.25199C48.528 6.19199 48.636 6.04799 48.636 6.04799L50.292 4.10399C50.604 3.74399 50.976 3.74399 50.976 3.74399C51.252 3.74399 51.252 3.95999 51.252 3.95999C51.252 4.04399 51.18 4.11599 51.18 4.11599C50.952 4.33199 50.622 4.72799 50.622 4.72799C50.292 5.12399 49.98 5.57999 49.98 5.57999C49.668 6.03599 49.458 6.44999 49.458 6.44999C49.248 6.86399 49.248 7.11599 49.248 7.11599C49.248 7.33199 49.392 7.33199 49.392 7.33199C49.476 7.33199 49.656 7.26599 49.656 7.26599C49.836 7.19999 50.136 6.98999 50.136 6.98999C50.436 6.77999 50.856 6.33599 50.856 6.33599C50.928 6.26399 51.24 5.90399 51.24 5.90399C51.552 5.54399 52.08 4.87199 52.08 4.87199C53.016 3.70799 53.304 3.70799 53.304 3.70799C53.7 3.70799 53.736 4.03199 53.736 4.03199C53.76 4.13999 53.232 4.73999 53.232 4.73999C52.548 5.56799 52.296 5.92799 52.296 5.92799C51.828 6.61199 51.828 6.99599 51.828 6.99599C51.828 7.25999 52.008 7.25999 52.008 7.25999C52.188 7.25999 52.47 7.08599 52.47 7.08599C52.752 6.91199 53.064 6.64199 53.064 6.64199C53.376 6.37199 53.67 6.07799 53.67 6.07799C53.964 5.78399 54.18 5.53199 54.18 5.53199C54.252 5.44799 54.324 5.44799 54.324 5.44799C54.396 5.44799 54.396 5.51999 54.396 5.51999C54.396 5.54399 54.384 5.59199 54.384 5.59199C54.372 5.63999 54.312 5.69999 54.312 5.69999C54.12 5.91599 53.82 6.23399 53.82 6.23399C53.52 6.55199 53.172 6.86399 53.172 6.86399C52.824 7.17599 52.5 7.37999 52.5 7.37999C52.176 7.58399 51.948 7.58399 51.948 7.58399C51.672 7.58399 51.468 7.43399 51.468 7.43399C51.264 7.28399 51.264 7.01999 51.264 7.01999C51.264 6.75599 51.348 6.48599 51.348 6.48599C51.432 6.21599 51.48 6.02399 51.48 6.02399C50.916 6.68399 50.49 7.03199 50.49 7.03199C50.064 7.37999 49.776 7.50599 49.776 7.50599C49.488 7.63199 49.32 7.63199 49.32 7.63199Z">
      </path>
      </svg>

  </div>
</Link>

<style>
  .link {
    /* opacity: 1; */
    -webkit-user-select: none;
    user-select: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 350px 0;
    }
    20% {
      stroke-dasharray: 0 350px;
    }
    80% {
      stroke-dasharray: 0 350px;
    }
    to {
      stroke-dasharray: 350px 0;
    }
  }

  .draw {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 10s ease forwards infinite;
  }

  @media (prefers-reduced-motion), print {
    .draw {
      stroke-dasharray: unset !important;
      animation: none !important;
    }
  }
</style>
